
    <img src="/images/darren-gundling-MWurSIBuPDI-unsplash.jpg" alt="Backgroundpic" style="width:100%">

<div class="container text-center">
    <h2> Welcome to Jewels </h2> <br>
    <p> We sell jewelry for all the boys and girls. We are a small business owner by Natalie. You can shop rings, earrings, necklaces, bracelets
      from the Shop tab. You can also shop a wide range of our Holiday Collection by price. I recommend you register an account and sign in. from 
      there, you can see your login history and upload your own photos. Moreover, you can see our employees, managed by MongoDB. 
      This website is copy-righted by Natalie Vu. 
      <br> I hope you have a great time browsing!
    </p>
    <hr> <br>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/kazzle-john-delbo-6WoXynQkRto-unsplash.jpg" target="_blank">
              <img src="/images/kazzle-john-delbo-6WoXynQkRto-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/cornelia-ng-zZLhoEwGCeM-unsplash.jpg" target="_blank">
              <img src="/images/cornelia-ng-zZLhoEwGCeM-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/sabrinna-ringquist-EOAaLXkPyGA-unsplash.jpg" target="_blank">
              <img src="/images/sabrinna-ringquist-EOAaLXkPyGA-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/bridget-flohe-f5Y_m2bD_Tw-unsplash.jpg" target="_blank">
              <img src="/images/bridget-flohe-f5Y_m2bD_Tw-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/nick-karvounis-RjeVqc8eC3s-unsplash.jpg" target="_blank">
              <img src="/images/nick-karvounis-RjeVqc8eC3s-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/images/jackie-tsang-3_YP8_mh-Kg-unsplash.jpg" target="_blank">
              <img src="/images/jackie-tsang-3_YP8_mh-Kg-unsplash.jpg" alt="ring" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
</div>  
