<div class="navbar navbar-default">
          <ul class="nav navbar-nav" id="thelinks">
            <li>{{#navLink "#rings"}}Rings{{/navLink}}</li>
            <li>{{#navLink "#necklaces"}}Necklaces{{/navLink}}</li>
            <li>{{#navLink "#earrings"}}Earrings{{/navLink}}</li>
          </ul> 
</div>

  <div class="container-fluid rings" id ="rings">
    <div class="container">
    <h2> RINGS </h2> <br>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/kazzle-john-delbo-6WoXynQkRto-unsplash.jpg" target="_blank">
                <img src="/images/kazzle-john-delbo-6WoXynQkRto-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$202.99</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/cornelia-ng-zZLhoEwGCeM-unsplash.jpg" target="_blank">
                <img src="/images/cornelia-ng-zZLhoEwGCeM-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$502.00</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/sabrinna-ringquist-EOAaLXkPyGA-unsplash.jpg" target="_blank">
                <img src="/images/sabrinna-ringquist-EOAaLXkPyGA-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$1,058.23</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/bridget-flohe-f5Y_m2bD_Tw-unsplash.jpg" target="_blank">
                <img src="/images/bridget-flohe-f5Y_m2bD_Tw-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$378.55</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/nick-karvounis-RjeVqc8eC3s-unsplash.jpg" target="_blank">
                <img src="/images/nick-karvounis-RjeVqc8eC3s-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$1,230.00</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/jackie-tsang-3_YP8_mh-Kg-unsplash.jpg" target="_blank">
                <img src="/images/jackie-tsang-3_YP8_mh-Kg-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$2,990.89</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/serkan-turk-v6jcUbxetL0-unsplash.jpg" target="_blank">
                <img src="/images/serkan-turk-v6jcUbxetL0-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$199.99</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/siora-OmDGuP9mKlY-unsplash.jpg" target="_blank">
                <img src="/images/siora-OmDGuP9mKlY-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$315.00</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/ryan-pouncy--w_1-mvkfUA-unsplash.jpg" target="_blank">
                <img src="/images/ryan-pouncy--w_1-mvkfUA-unsplash.jpg" alt="ring" style="width:100%">
                <div class="caption">
                  <p>$2,199.99</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
   <br><br><br>

  <div class="container-fluid necklaces" id="necklaces">
    <div class="container">
      <h2> NECKLACES </h2> <br>
      <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/1.jpg" target="_blank">
                <img src="/images/1.jpg" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$102.20</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/2.jpg" target="_blank">
                <img src="/images/2.jpg" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$298.99</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/photo-1547738238-5ddb16bef15f.jfif" target="_blank">
                <img src="/images/photo-1547738238-5ddb16bef15f.jfif" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$105.00</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/3.jpg" target="_blank">
                <img src="/images/3.jpg" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$50.89</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/4.jpg" target="_blank">
                <img src="/images/4.jpg" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$71.23</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/5.jpg" target="_blank">
                <img src="/images/5.jpg" alt="necklace" style="width:100%">
                <div class="caption">
                  <p>$59.12</p>
                </div>
              </a>
            </div>
          </div>
        </div>


    </div>
  </div>
   <br><br><br>

  <div class="container-fluid earrings" id="earrings">
    <div class="container">
      <h2> EARRINGS </h2> <br>
      <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/seashell-in-love-kristin-MZmFKf5_8bc-unsplash.jpg" target="_blank">
                <img src="/images/seashell-in-love-kristin-MZmFKf5_8bc-unsplash.jpg" alt="earring" style="width:100%">
                <div class="caption">
                  <p>$190.99</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/seashell-in-love-kristin-u53gtdGfNe8-unsplash.jpg" target="_blank">
                <img src="/images/seashell-in-love-kristin-u53gtdGfNe8-unsplash.jpg" alt="earring" style="width:100%">
                <div class="caption">
                  <p>$175.00</p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/seashell-in-love-kristin-5BKhwiP5t9Y-unsplash.jpg" target="_blank">
                <img src="/images/seashell-in-love-kristin-5BKhwiP5t9Y-unsplash.jpg" alt="earring" style="width:100%">
                <div class="caption">
                  <p>$158.23</p>
                </div>
              </a>
            </div>
          </div>
        </div>
    
      <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/images/seashell-in-love-kristin-9un3Y4Z5x5c-unsplash.jpg" target="_blank">
                <img src="/images/seashell-in-love-kristin-9un3Y4Z5x5c-unsplash.jpg" alt="earring" style="width:100%">
                <div class="caption">
                  <p>$169.82</p>
                </div>
              </a>
            </div>
          </div>
      </div>
        
  </div>
</div>  