
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <title>HOME </title>
  </head>
  <body>
    <div class="container">
      <div class="row">
    <div class="col-md-12">
        <!-- check for user? -->
        <h2> {{session.user.userName}} ({{session.user.email}}) History </h2> 
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Login Date/Time </th>
                        <th> Client Information </th>
                    </tr>
                </thead>
                <tbody>
                        <tr> 
                            <td> 2018-11-18T19:17:37.000Z </td>
                            <td> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36
                        </tr>
                        <tr> 
                            <td> 2018-11-19T05:19:05.000Z </td>
                            <td> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>