.notif {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.notif a {
    text-decoration: underline;
    color: palevioletred;
}
.thumbnail {
    border: 0;
    }

